<div class="index-body row">
	<div class="col-centered col-sm-5 text-center">
		<h2>Welcome to this Demo Job Search Website</h2>
		<h3>The data is from Github Job Search free Api</h3>
		<div class="search-box">
			{{input value=keywords placeholder="Position, Job, Keywords ..."}}
			{{input value=location placeholder="Location"}}
			<button type="submit" {{action 'searchJobs'}}> Search </button>
		</div>
	</div>
</div>

